
env = XCURSOR_SIZE,24
env = HYPRCURSOR_SIZE,24

monitor=,preferred,auto,auto

exec-once = swaybg -i $LOCAL/space.jpg
exec = sleep 0.1 && $SELF run

general {
    gaps_in = 5
    gaps_out = 20

    border_size = 2
    col.active_border = rgba(33ccffee) rgba(00ff99ee) 45deg
    col.inactive_border = rgba(595959aa)
    resize_on_border = false
    allow_tearing = false
    layout = master
}

input {
    kb_layout = us
    kb_variant =
    kb_model =
    kb_options =
    kb_rules =
    follow_mouse = 1
    sensitivity = 0 # -1.0 - 1.0, 0 means no modification.
    touchpad {
        natural_scroll = false
    }
}

misc {
    force_default_wallpaper = 0 # Set to 0 or 1 to disable the anime mascot wallpapers
    disable_hyprland_logo = true # If true disables the random hyprland logo / anime girl background. :(
}
